<nb-card style="min-width: 500px;">
    <nb-card-header>
      {{title}}
    </nb-card-header>
    <nb-card-body>
      <span *ngIf="!deviceTested">{{message}}</span>
      <div class="mt-4 text-center">
        <div *ngIf="deviceTested">
          <h2 ><span status="info">Test Success</span></h2>
          <img  class="img-fluid mt-1" src="assets/images/success.png" style="width:200px;">
        </div>
        <div *ngIf="!deviceTested && error">
          <h2 ><span status="info">OTP Invalid</span></h2>
          <img  class="img-fluid mt-1" src="assets/images/failed.jpg" style="width:200px;">
        </div>
        <br>
      </div>
      <div *ngIf="!deviceTested && !error">
        <input nbInput class="mb-1" [(ngModel)]="otp"
               fullWidth name="OTP"
               id="input-otp"
               placeholder="OTP">
      </div>
      <div *ngIf="!deviceTested && !error" class="text-center mt-4">
        <button nbButton status="success" (click)="testDesktop()">Test</button>
      </div>
      <div class="text-center mt-4">
        <button nbButton status="danger" (click)="closeDialog(deviceTested)">Close</button>
      </div>
    </nb-card-body>
  </nb-card>


