.background{
  background-image: url('../../../assets/images/background.jpg');
  background-size:cover;
  height: 100%;
  position: relative;
}

.container {
  margin: auto;
  width: 50%;
  padding-top: 85px;
}

