<nb-layout>
  <nb-layout-header fixed>
    <div class="header-container">
      <h4><a routerLink="/home"><img src="assets/images/bbb-logo.png" style="height: 60px;"></a>
        MFA Self-Service Portal</h4>
    </div>
    <span style="flex: 1 1 auto;"></span>
    <div class="header-container" *ngIf="loggedIn">
      <nb-actions size="small">
        <nb-action class="user-action">
          <nb-user [nbContextMenu]="userMenu" [name]="sessionUser?.sub" picture="assets/images/user.png">
          </nb-user>
        </nb-action>
      </nb-actions>
    </div>
  </nb-layout-header>
  <nb-sidebar *ngIf="Admin && loggedIn" responsive start>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  This website is for Bed Bath & Beyond Inc., its subsidiaries ("Bed Bath & Beyond" or BB&B"), and business partners, for business purposes. All information that is created, stored, accessed, received or used by you through this website is considered to be the sole property of Bed Bath & Beyond. By accessing and using this website, you warrant that you are using an authorized ID and password, consent to any monitoring, review and retention of the website's information, and agree to comply with the Rules of Use and other provisions of BB&B.
  </nb-layout-footer>
</nb-layout>
