
.sidebar-toggle {
  padding-right: 1.25rem;
  text-decoration: none;
  color: var(--text-hint-color);
  font-size: 3.5rem;
}

.background-color {
  background-color: rgba(33, 95, 228, 0.89);
  color: rgb(255, 255, 255);
  padding: 0px;
  margin: 0px;
}
