<nb-card style="min-width: 500px;">
  <nb-card-header>
    {{title}}
  </nb-card-header>
  <nb-card-body>
    <span *ngIf="!devicePaired">{{message}}</span>
    <div class="mt-4 text-center">
      <ngx-kjua *ngIf="!devicePaired"
                [text]="qrText"
      ></ngx-kjua>
      <div *ngIf="devicePaired">
        <h2 ><span status="info">Pairing Success</span></h2>
        <img  class="img-fluid mt-1" src="assets/images/success.png" style="width:200px;">
      </div>
      <br>
      <h5 *ngIf="!devicePaired">{{code}}</h5>
    </div>
    <div class="text-center mt-4">
      <button nbButton status="success" (click)="closeDialog(devicePaired)">Close</button>
    </div>
  </nb-card-body>
</nb-card>
