<div class="container">
  <nb-card status="info">
    <nb-card-header>
      <nb-icon icon="search" class="mr-1"></nb-icon>
      Search a User
    </nb-card-header>
    <nb-card-body>
      <input type="text" nbInput  status="basic" placeholder="Search User" class="mr-1" [(ngModel)]="userName" (keyup.enter)="searchUser()">
      <button nbButton outline status="primary" size="small" class="mr-1" (click)="searchUser()" [disabled]="!userName">
        Search
      </button>
      <nb-alert *ngIf="userNotFound" status="warning" class="mt-3">{{errMsg}}</nb-alert>
    </nb-card-body>
  </nb-card>

  <div *ngIf="userFound">
    <nb-card status="info">
      <nb-card-header>
        <nb-icon icon="person" class="mr-1"></nb-icon>
        My User Information
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col">
            <p>First Name: <strong>{{user?.fname}}</strong></p>
            <p>Last Name: <strong>{{user?.lname}}</strong></p>
            <p>Username: <strong>{{user?.userName}}</strong></p>
            <p>Email: <strong>{{user?.email}}</strong></p>
          </div>
          <div class="col">
            <p>Status: <strong>{{user?.status}}</strong></p>
            <p>User Enabled: <strong>{{user?.userEnabled}}</strong></p>
 <!--           <p>Last Login: <strong>{{user?.lastLogin | date:'medium'}}</strong></p>
            <p>User Bypass: <strong>{{user?.userInBypass}}</strong></p>
  -->
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card status="info">
      <nb-card-header>
        <nb-icon icon="smartphone" class="mr-1"></nb-icon>
        My Device List
      </nb-card-header>
      <nb-card-body>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Device Name</th>
            <th scope="col">Role</th>
            <th scope="col">Device Type</th>
            <th scope="col">Enrollment</th>
            <th scope="col">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let deviceDetail of deviceList">
            <th scope="row">{{deviceDetail?.nickname}}</th>
            <td>{{deviceDetail?.deviceRole}}</td>
            <td>{{deviceDetail?.type}}</td>
            <td>{{deviceDetail?.enrollment}}</td>
            <td>
              <!--                <nb-icon icon="trash" class="action-icon" (click)="unpairDevice(deviceDetail)"></nb-icon>-->
              <button nbButton outline status="danger" size="small" (click)="unpairDevice(deviceDetail)" class="mr-1">
                Unpair
              </button>
              <button [hidden]="deviceDetail?.deviceRole?.toLowerCase() === 'primary'" nbButton outline status="primary"
                      size="small" (click)="makeDevicePrimary(deviceDetail)" class="mr-1">Make Primary
              </button>
              <button *ngIf="deviceDetail?.type?.toLowerCase() === 'android'" nbButton outline status="warning" size="small" (click)="testMFADesktop(deviceDetail)" class="mr-1">Test MFA</button>
              <button *ngIf="deviceDetail?.type?.toLowerCase() === 'iphone'" nbButton outline status="warning" size="small" (click)="testMFADesktop(deviceDetail)" class="mr-1">Test MFA</button>
              <button *ngIf="deviceDetail?.type?.toLowerCase() === 'desktop'" nbButton outline status="warning" size="small" (click)="testMFADesktop(deviceDetail)" class="mr-1">Test MFA</button>
          </td>
          </tr>
          </tbody>
        </table>
        <button nbButton *ngIf="softToken=='true'" outline status="primary" (click)="getActivationCode('MOBILE')" class="mr-1" size="small">
          <nb-icon icon="smartphone" outline status="primary" class="mr-1" ></nb-icon>
          Register Soft Token </button>
        <button nbButton *ngIf="softToken=='true'" outline status="primary" (click)="AuthenticatorAppStartPairing()" class="mr-1" size="small">
          <nb-icon icon="smartphone" outline status="info" class="mr-1" ></nb-icon>
          Register OTP Token </button>  
        <button nbButton *ngIf="desktopToken=='true'" outline status="primary" (click)="getActivationCode('DESKTOP')" class="mr-1" size="small">
          <nb-icon icon="monitor" outline status="info" class="mr-1" ></nb-icon>
          Register Desktop Token</button>
        <button nbButton *ngIf="hardToken=='true'" outline status="primary" (click)="yubikeyStartPairing()" class="mr-1" size="small">
          <nb-icon icon="hard-drive" outline status="info" class="mr-1" ></nb-icon>
          Register Hard Token </button>
        <nb-alert *ngIf="mfaTriggered" status="warning" class="mt-3">MFA triggered. Please check your device...</nb-alert>
        <nb-alert *ngIf="mfaApproved" status="success" class="mt-3">MFA Approved.</nb-alert>
        <nb-alert *ngIf="mfaRejected" status="danger" class="mt-3">{{mfaErrMsg}}</nb-alert>
      </nb-card-body>
    </nb-card>
    <nb-card status="info" *ngIf="AdminStatus=='admin'">
      <nb-card-header>
        <nb-icon icon="monitor" class="mr-1"></nb-icon>
        Admin Control
      </nb-card-header>
      <nb-card-body>      
        <button nbButton  outline status="warning" (click)="ToggleUserBypass()" class="mr-1" size="small">
          ByPass MFA </button>        
        <button nbButton  outline status="danger" (click)="ActivateUser()" class="mr-1" size="small">
          Enable User </button>        
        <button nbButton  outline status="danger" (click)="SuspendUser()" class="mr-1" size="small">
          Disable User </button>      
    <!--   <button *ngIf="AdminStatus=='admin'" [nbContextMenu]="items" nbButton outline status="warning" class="mr-1" size="small">Admin Control</button>    
    -->  
        <nb-alert *ngIf="userActivat" status="success" class="mt-3">User has been activated.</nb-alert>
        <nb-alert *ngIf="userSuspend" status="success" class="mt-3">User has been suspended.</nb-alert>
        <nb-alert *ngIf="userBypassed" status="success" class="mt-3">User MFA Bypassed for next 30 minutes.</nb-alert>
      </nb-card-body> 
    </nb-card>
  </div>
</div>
