<p>Dear ${firstName} ${lastName}</p>
<p>A device has been registered to your PingID account.</p>
<p>Please contact Help Desk if this was not you registering this device.</p>
<p>Regards,</p>
<p>IAM Team</p>
<p>DO NOT REPLY: This is a system generated email.</p>
<p>Contact Help Desk: xxx-xxx-HELP (xxxx)</p>
<p style='font-size:10px;'>This message contains proprietary information from BedBath which may be confidential. If you are not an intended recipient, please refrain from any disclosure, copying, distribution or use of this information and note that such actions are prohibited. If you have received this transmission in error, please notify by e-mail postmaster@BedBath.com. BedBath&reg; is a registered trademark of BBB Inc. All rights reserved.</p>