<img src='cid:banner'/><br>
<p>Dear Xiaohan Li</p>
<p>The following device has been registered to your PingID account by _adminFirstName _adminLastName (_adminUser):</p>
<ul style='padding-left: 15px;'>
    <li>_device</li>
</ul>
<p>Please contact Help Desk if this was not you requesting to register this device.</p>
<p>Regards,</p>
<p>IAM Team</p>
<p>DO NOT REPLY: This is a system generated email.</p>
<p>Contact Help Desk: xxx-xxx-HELP (xxxx)</p>
<br>
<p style='font-size:10px;'>This message contains proprietary information from BedBath which may be confidential. If you are not an intended recipient, please refrain from any disclosure, copying, distribution or use of this information and note that such actions are prohibited. If you have received this transmission in error, please notify by e-mail postmaster@BedBath.com. BedBath&reg; is a registered trademark of Equifax Inc. All rights reserved.</p>