<div class="container">
  <nb-card status="info">
    <nb-card-header>
      <nb-icon icon="person" class="mr-1"></nb-icon>
      User Information
    </nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col">
          <p>First Name: <strong>{{user?.fname}}</strong></p>
          <p>Last Name: <strong>{{user?.lname}}</strong></p>
          <p>Username: <strong>{{user?.userName}}</strong></p>
          <p>Email: <strong>{{user?.email}}</strong></p>
        </div>
        <div class="col">
          <p>Status: <strong>{{user?.status}}</strong></p>
          <p>User Enabled: <strong>{{user?.userEnabled}}</strong></p>
          <p>Last Login: <strong>{{user?.lastLogin | date:'medium'}}</strong></p>
          <p>User Bypass: <strong>{{user?.userInBypass}}</strong></p>
        </div>
      </div>
    </nb-card-body>
  </nb-card>

  <nb-card status="info">
    <nb-card-header>
      <nb-icon icon="smartphone" class="mr-1"></nb-icon>
      My Device List
    </nb-card-header>
    <nb-card-body>
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Device Name</th>
              <th scope="col">Role</th>
              <th scope="col">Device Type</th>
              <th scope="col">Enrollment</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let deviceDetail of user?.devicesDetails">
              <th scope="row">{{deviceDetail?.nickname}}</th>
              <td>{{deviceDetail?.deviceRole}}</td>
              <td>{{deviceDetail?.type}}</td>
              <td>{{deviceDetail?.enrollment}}</td>
              <td><nb-icon icon="trash" class="action-icon" (click)="unpairDevice(deviceDetail)"></nb-icon></td>
            </tr>
            </tbody>
          </table>
      <button nbButton status="info">Register Device</button>
    </nb-card-body>
  </nb-card>
</div>
